name: PR Check Test

on:
pull_request:
  types: [opened, synchronize, reopened, labeled, unlabeled]
  #pull_request_target:
    #types: [opened, synchronize, reopened, labeled, unlabeled]

jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Print test
        run echo "Please work!"
  #check-org-membership:
    #runs-on: ubuntu-latest
    #steps:
      #- name: Check if PR author is a member of the organization
        #run: |
          #ORG="${{ github.repository_owner }}"
          #PR_AUTHOR=$(jq --raw-output .pull_request.user.login $GITHUB_EVENT_PATH)
          
          #if gh api "/orgs/$ORG/members/$PR_AUTHOR"; then
          #  echo "PR author is a member of $ORG GitHub organization, running tests."
           # exit 0
          #fi

          #echo "PR author is NOT a member of $ORG GitHub organization, skipping further checks."
          #exit 1
        #env:
          #GITHUB_TOKEN: ${{ secrets.HAC_TEST_GH_TOKEN }}

  deploy-konfux-ui:
    #needs: check-org-membership
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
        with:
          ref: "${{ github.event.pull_request.head.sha }}"
      - name: Deploy konflux-ci
        id: pr-check-action
        uses: ./.github/actions/konflux-ui-deploy-test
        env:
          TARGET_BRANCH: ${{ github.base_ref }}
          SOURCE_BRANCH: ${{ github.head_ref }}
          PR_NUMBER: ${{ github.event.number }}
          HEAD_SHA: ${{ github.event.pull_request.head.sha }}
          FORKED_REPO_URL: ${{ github.event.pull_request.head.repo.clone_url }}
          BASE_REPO_URL: ${{ github.event.pull_request.base.repo.clone_url }}
          # secrets
          HAC_TEST_GH_TOKEN: ${{ secrets.HAC_TEST_GH_TOKEN }}
          SEALIGHTS_TOKEN: ${{ secrets.SEALIGHTS_TOKEN }}
          GH_APP_ID: ${{ secrets.GH_APP_ID }}
          GH_APP_PRIVATE_KEY: ${{ secrets.GH_APP_PRIVATE_KEY }}
          GH_APP_WEBHOOK_SECRET: ${{ secrets.GH_APP_WEBHOOK_SECRET }}
          QUAY_TEST_ORG: ${{ secrets.QUAY_TEST_ORG }}
          QUAY_TOKEN_TEST: ${{ secrets.QUAY_TOKEN_TEST }}
          SMEE_URL: ${{ secrets.SMEE_URL }}
          CYPRESS_USERNAME: ${{ secrets.CYPRESS_USERNAME }}
          CYPRESS_PASSWORD: ${{ secrets.CYPRESS_PASSWORD }}
        with:
          job-type: 'on-pr'
  
      - name: Konflux-ui e2e test
        uses: ./.github/actions/konflux-ui-e2e-test
        env:
          CYPRESS_GH_TOKEN: ${{ env.HAC_TEST_GH_TOKEN }}
          TARGET_BRANCH: ${{ env.TARGET_BRANCH }}
          PR_NUMBER: ${{ env.PR_NUMBER }}
          HEAD_SHA: ${{ env.HEAD_SHA }}
          CYPRESS_USERNAME: ${{ env.CYPRESS_USERNAME }}
          CYPRESS_PASSWORD: ${{ env.CYPRESS_PASSWORD }}
          SEALIGHTS_TOKEN: ${{ env.SEALIGHTS_TOKEN }}
  
      - name: Generate error logs
        uses: ./.github/actions/generate-error-logs
